{{ content_for_index }}
<!-- instagram feeds start here -->
<section class="ins--feeds">
	<div class="section-header text-center">
        <h2 class="h2">@ Kazigoods</h2>
    </div>
	<div class="ins--post--snaps">
		<ul class="feeds-list">
          <li>
			<img src=""
		  </li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		</ul>
	</div>
</section>
<!-- instagram feeds end here -->