<!-- section slider start here -->
<section class="hero--banners templat--nest index-section h--medium offset-small">
   <div class="page-width">
       <div class="title-bar">
         <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/nest-logo-light.svg"/>
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi">
  <div class="page-width">
    <div class="sub--text--header fill-dark">
      <h2 class="has--bar">Socially responsible shopping <br>made easy with KAZI</h2>
      <p>KAZI is currently one of only five companies to carry the Nest Seal of Ethical Handcraft on our Rwanda and Uganda products—the highest standards for assessing artisan homeworker production and supply chains. When you purchase these products, you can feel good knowing everything is made ethically in a home or small workshop.</p>
    </div>
  </div>
</section>
<!-- section misssion end here -->
