<!-- section slider start here -->
<section class="hero--banners templat--nest index-section h--medium offset-small">
   <div class="page-width">
       <div class="title-bar">
         <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/nest-logo-light.svg"/>
       </div>
   </div>
</section>
<!-- section slider end -->
<section class="ors--section-1">
  <div class="page-width">
    <div class="row--l--2">
      <div class="row--item">
        <div class="ors--board">
            <h2>Creating<br> a lasting<br> impact</h2>
        </div>
      </div>
      <div class="row--item">
        <div class="ord--borad-deep">
           <p><big>At KAZI</big>, we believe that everyone deserves to make a fair wage to support themselves and those around them, no matter where they are in the world. We don’t just measure success by how many products or services we’ve sold—but by how the lives of our artisans and their communities improve over time, too.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section slider start here -->
<section class="hero--banners index-section h--medium bn--2">
   <div class="page-width">
       <div class="title-bar">
         <h1>Swahili <br>Employment</h1>
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi">
  <div class="page-width">
    <div class="sub--text--header">
      <h2 class="has--bar">Our mission</h2>
      <p>We aren’t just bringing handcrafted things to your living room. We’re bringing you beautiful<br> pieces that add life to your space and empower artisans to weave a better <br>story for themselves.</p>
    </div>
    <div class="ors--cards">
      <div class="layout--row-3">
        <div class="row--item">
            <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-hands.svg"/>
            <h4>Fair wage jobs</h4>
        </div>
        <div class="row--item has---border">
          <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-leaf.svg"/>
          <h4>Sustainable materials</h4>
        </div>
        <div class="row--item">
          <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-painkit.svg"/>
          <h4>Quality craftsmanship</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section misssion end here -->
<!-- section slider start here -->
<section class="hero--banners index-section h--medium bn--3">
   <div class="page-width">
       <div class="title-bar">
         <h1>Products with <br/>a purpose</h1>
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi">
  <div class="page-width">
    <div class="sub--text--header">
      <h2 class="has--bar">Together,<br>we’ve been able to:</h2>
    </div>
    <div class="ors--cards">
      <div class="layout--row-3">
        <div class="row--item">
            <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-hands.svg"/>
            <h4>Create employment for<span>3,600 artisans</span> from Rwanda, Uganda, and Ghana</h4>
        </div>
        <div class="row--item has---border">
          <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-insurance.png"/>
          <h4>Impact more than <span>19,000</span> family members and <span>100,000</span> community members</h4>
        </div>
        <div class="row--item">
          <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-imotion.svg"/>
          <h4>Increase their earnings <span>5X<span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section misssion end here -->
<!-- section slider start here -->
<section class="hero--banners index-section h--medium bn--4">
   <div class="page-width">
       <div class="title-bar">
         <!--<h1>Our Story</h1>-->
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi">
  <div class="page-width">
    <div class="sub--text--header">
      <h2 class="has--bar">Our Story</h2>
    </div>
    <div class="ors--cards">
      <div class="ors--testimon">
            <div class="row--2-d">
              <div class="row-item-ts">
                <figure>
                  <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/Banner_image_1_3.jpg"/>
                </figure>
              </div>
              <div class="row-item-ts">
                <div class="text--conts">
                  <blockquote>
                  <p>We’ve set out to change the face of poverty in this lifetime, not just for the future generations of those we serve.</p>
                  <span class="f-author">-Greg Stone, CEO</span>
                </blockquote>
                </div>
              </div>
            </div>
      </div>
    </div>
   <!--- cards end -->
   <div class="ord--jrny ors--cards">
     <ul class="jods">
       <li>
         <p><big>In 2013</big>, an unusual pair—both committed to social good and with years of nonprofit experiences under their belts—still had one big question on their minds: How can we really empower men and women to overcome poverty in their lifetime?</p>
         <p>They set out to create different solutions to pull people out of poverty, but couldn’t shake the words that came from one of their school sponsorships program...</p>
       </li>
       <li>
         <p><i>"Thanks for helping, but it’s put more of a burden on our family since our children can’t help with farming. We don’t have enough to eat without their help—what we really need are jobs."</i></p>
         <p>Instead of ignoring what they heard and reporting only the successes, they transformed their program from traditional aid into a sustainable business focused on developing leaders and market solutions.</p>
       </li>
       <li>
         <p><i>"Thanks for helping, but it’s put more of a <b></b>urden on our family since our children can’t help with farming. We don’t have enough to eat without their help—what we really need are jobs."</i></p>
         <span>-Greg Stone, CEO</span>
         <p>From this, KAZI was born, focused on creating unique, beautiful products for the world to admire from talented artisans in remote regions previously without market access.</p>
       </li>
       <li>
         <p><i>“We believe women and men in rural areas in Africa can be agents of change for themselves, their families, and their community when given the proper training and consistent access to global markets. Their talents and gifts are incredible.”</i></p>
         <span>-Alicia Wallace, COO</span>
         <p>and empowering women and men to succeed beyond their biggest dreams. Now, these women and men send their kids to school without traditional aid, through their own hard work.</p>
       </li>
       <li><p>We hope you join us on this journey to make our dreams of a beautiful and fair world a reality for everyone.</p></li>
     </ul>
   </div>

  </div>
</section>
<!-- section misssion end here -->
<!-- section slider start here -->
<section class="hero--banners index-section h--medium bn--5">
   <div class="page-width">
       <div class="title-bar text--right">
         <h1>Meet Our Artisans</h1>
         <a href="#">Read Their Stories</a>
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi btm--testimonial">
  <div class="page-width">
    <div class="ors--cards">
      <div class="ors--testimon">
            <div class="row--2-d">
              <div class="row-item-ts">
                <figure>
                  <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/Banner_image_1_3.jpg"/>
                </figure>
              </div>
              <div class="row-item-ts">
                <div class="text--conts">
                  <h3>Cathy Zalwango </h3>
                  <span class="desi">Country Director, Uganda</span>
                  <blockquote>
                  <p>We’ve set out to change the face of poverty in this lifetime, not just for the future generations of those we serve.</p>
                </blockquote>
                </div>
              </div>
            </div>
      </div>
    </div>
    <ul class="dots--na">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button class="sli--pre"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/testimonial-arrow-previous.svg"/></button>
    <button class="sli--next"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/testimonial-arrow-next.svg"/></button>
  </div>
  </section>
