<!-- section slider start here -->
<section class="hero--banners templat--nest index-section h--medium offset-small">
   <div class="page-width">
       <div class="title-bar">
         <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/nest-logo-light.svg"/>
       </div>
   </div>
</section>
<!-- section slider end -->
<!-- section mission start -->
<section class="ord--mi">
  <div class="page-width">
    <div class="sub--text--header fill-dark">
      <h2 class="has--bar">Socially responsible shopping <br> made easy with KAZI</h2>
      <p>KAZI is currently one of only five companies to carry the Nest Seal of Ethical Handcraft on our Rwanda and<br> Uganda products—the highest standards for assessing artisan homeworker production and supply chains. <br>When you purchase these products, you can feel good knowing everything is made <br>ethically in a home or small workshop.</p>
    </div>
    <div class="ad--bs template--inner">
      	<div class="ad--bar--iner flex--2--rows">
      		<div class="flx--items fill-width-60">
      			<div class="logo-wrapper">
      				<svg width="97" height="129" viewBox="0 0 97 129" fill="none" xmlns="http://www.w3.org/2000/svg">
      				<path fill-rule="evenodd" clip-rule="evenodd" d="M96.3422 0.685791H0.875V96.153H96.3422V0.685791ZM46.6197 107.002H27.695V111.341H46.6197V107.002ZM42.1598 115.68H27.695V120.02H42.1598V115.68ZM46.6197 124.359H27.695V128.699H46.6197V124.359ZM59.1257 112.908C59.1257 114.234 61.0844 114.746 63.3747 115.319L63.3866 115.322C66.9103 116.225 71.27 117.343 71.27 122.129C71.27 125.444 69.0702 129 62.8021 129C59.2161 129 56.1725 127.825 54.0028 125.565L53.7918 125.324L56.3231 121.828L56.6546 122.19C57.408 123.033 59.5777 124.992 62.9829 124.992C65.7855 124.992 66.7799 123.696 66.7799 122.491C66.7799 120.894 64.6705 120.351 62.2296 119.749C58.8243 118.905 54.5753 117.82 54.5753 113.149C54.5753 109.292 57.86 106.61 62.5912 106.61C65.8457 106.61 68.6182 107.695 70.6673 109.684L70.9084 109.925L68.3771 113.27L68.0757 112.968C66.5991 111.492 64.5198 110.678 62.2597 110.678C60.3913 110.678 59.1257 111.582 59.1257 112.908ZM15.3397 120.713V107.002H19.7997V128.699H15.6411L5.30482 114.535V128.699H0.875V107.002H5.21442L15.3397 120.713ZM77.4175 107.002H96.3422V111.341H89.1099V128.699H84.68V111.341H77.4175V107.002ZM70.3066 28.0783C70.3066 28.0783 64.9124 35.0998 70.3066 59.2679C73.4105 72.3464 73.1091 82.984 70.3367 91.8136H5.24542V5.02516H26.9425C24.14 13.8547 23.8386 24.4923 26.9425 37.5708C32.3367 61.739 26.9425 68.7604 26.9425 68.7604C42.1004 73.6422 48.2479 64.5716 48.6095 53.3313L48.6396 43.5074C48.9711 32.2671 55.1186 23.1965 70.3066 28.0783ZM59.458 32.1465C59.458 33.6533 60.6634 34.8587 62.1702 34.8587C63.6769 34.8587 64.8823 33.6533 64.8823 32.1465C64.8823 30.6398 63.6769 29.4344 62.1702 29.4344C60.6634 29.4344 59.458 30.6398 59.458 32.1465Z" fill="black"></path>
      				</svg>
      			</div>
      			<h4 class="bn--tt">Nest is a non-profit organization that creates more opportunities for brands to connect consumers with ethically produced handcrafted items.</h4>
      		</div>
      		<!--<div class="flx--items fill-width-40">
      			<h4>Made with the highest <br>ethical standards</h4>
      			<a href="#">See How</a>
      		</div>-->
      	</div>
      </div>
      <div class="sub--text--header fill-dark fill--fluid">
        <h2 class="has--bar"> Their mission</h2>
        <p>Global artisan work is notoriously unregulated, underserved, and unprotected. Nest ensures the production provides safe and empowering employment for all workers.</p>
      </div>
  </div>
</section>
<!-- section misssion end here -->
<!---section fill deep start here -->
<section class="fill--deep">
  <div class="page-width">
     <div class="flex--row-2-no-guuter">
       <div class="flex--item">
         <div class="box--in-cou">
           <span class="sm--title">The Seal</span>
           <p>The Nest Seal is a symbol of assurance letting customers know that the items they shop, from fashion, to furniture, have been ethically handcrafted in a home or small workshop.</p>
         </div>
       </div>
       <div class="flex--item">
         <div class="fd__d">
           <a href="https://www.buildanest.org/" target=_blank"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-nest-symbol.svg"/></a>
          </div>
      </div>
     </div>
  </div>
</section>
<!-- section fill-deep end here -->
<!--section bottom start here -->
<section>
  <div class="page-width">
     <center><a class="button--medium dark" href="#">Shop now</a></center>
     <div class="suc--s press-bar">
      	<h3 class="prss-ttl">As Featured In</h3>
      	<ul class="press-clients">
        		<li><a target="_blank" href="https://www.architecturaldigest.com"><svg width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0089 31.5612V1.42829H21.9135V1.20203H32.1869C40.9695 1.20203 47.4584 6.39615 47.4584 16.4102C47.4584 26.5548 40.6713 31.5612 32.2797 31.5612H25.0089ZM29.8004 31.3536H32.0941C33.8088 31.3536 35.7487 31.1273 37.1466 30.2434C40.1678 28.248 42.0136 23.8446 42.0136 16.4102C42.0136 8.58047 40.7455 4.00671 37.0526 2.23762C35.6917 1.57872 33.8657 1.44694 31.6648 1.44694H29.8004V31.3536ZM0.539062 31.5599V31.3337H2.98988L13.9536 0.534424L24.8975 31.5599H16.5912V31.3337H19.6965C18.5442 28.0856 17.3907 24.8379 16.2362 21.5907H6.71249C6.71249 21.5907 3.42041 30.8414 3.2336 31.3337H5.55327V31.5599H0.539062ZM6.7694 21.3631H16.1607L11.4644 8.17767L6.7694 21.3631Z" fill="black"/>
        </svg>
        </a></li>
        		<li><a target="_blank" href="https://www.forbes.com"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-forbes.svg"/></a></a></li>
        		<li><a target="_blank" href="https://www.vogue.com/"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-vogue.svg"/></a></a></li>
        		<li><a target="_blank" href="https://www.wsj.com/"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-wsj.svg"/></a></a></li>
        		<li><a target="_blank" href="https://www.nytimes.com/"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-newyork-times.svg"/></a></a></li>
        		<li><a target="_blank"  href="https://www.harpersbazaar.com/"><img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/logo-bazaar.svg"/></a></a></li>
	       </ul>
      </div>
      <div class="sub--text--header fill-dark">
        <h2 class="">Nest’s Ethical Handcraft <br/>Program Standards</h2>
      </div>
      <div class="box--acis">
        <ul class="ax">
          <!-- list-start -->
          <li>
            <div class="icn-b">
              <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-fist.svg"/>
            </div>
            <div class="icn-content">
              <h4>Worker rights and wellbeing</h4>
              <p>Global artisan work is notoriously unregulated, underserved, and unprotected. Nest’s mission is to make production more sustainable and socially responsible, creating safe and empowering employment for all workers.</p>
            </div>
          </li>
          <!-- list end -->
          <!-- list-start -->
          <li>
            <div class="icn-b">
              <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-mother.png"/>
            </div>
            <div class="icn-content">
              <h4>Child advocacy and protection</h4>
              <p>Children under lawful age of employment should never participate in <br>company production.</p>
            </div>
          </li>
          <!-- list end -->
          <!-- list-start -->
          <li>
            <div class="icn-b">
              <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-money.svg"/>
            </div>
            <div class="icn-content">
              <h4>Fair compensation and benefits</h4>
              <p>All artisans are paid a living wage in a timely manner, and it must be at or above the statutory minimum wage for all production. There should be a system of incentives to promote meeting quality, and all quality standards must be standardized and clearly communicated.Every artisan has access to benefits.</p>
            </div>
          </li>
          <!-- list end -->
          <!-- list-start -->
          <li>
            <div class="icn-b">
              <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-health.png"/>
            </div>
            <div class="icn-content">
              <h4>Health and safety</h4>
              <p>There must be a clean and safe working environment, along with a proactive approach for caring for the physical and mental health—as well as safety—of workers.</p>
              <p>All workers must be educated on the importance of safety and trained properly, especially for machinery and chemical use as well as sanitation and emergency procedures.</p>
            </div>
          </li>
          <!-- list end -->
          <!-- list-start -->
          <li>
            <div class="icn-b">
              <img src="https://cdn.shopify.com/s/files/1/0254/2944/2607/t/1/assets/icon-care.svg"/>
            </div>
            <div class="icn-content">
              <h4>Environmental care</h4>
              <p>Practice energy conservation wherever possible to lower environmental impact, increase efficiency, and reduce waste.</p>
              <p>The production process should include responsible solid waste disposal, wastewater remediation, and the proper handling of chemicals.</p>
            </div>
          </li>
          <!-- list end -->
        </ul>
      </div>
      <div class="sub--text--header">
        <h2 class="f--medium">Our products don’t just look good...<br>they’re made in a way you can feel good about.</h2>
      </div>
      <center><a class="button--medium otlined" href="#">Shop ethically</a></center>
  </div>
</section>
<!-- sectio0n bottom end -->
